<h2 class="page_header">Home</h2>

<% if @words.any? %>
<h3>Click on a word to see its definitions</h3>
<ul>
  <% @words.sort_by(&:name).each do |word| %>
  <li><a href="/home/word/<%= word.id %>"><%= word.name %></a></li>
  <% end %>
</ul>
<h3>Or</h3>
<% else %>
<p>There are currently no defined words!</p>
<% end %>
<a href="/home/new_word">Define a new word!</a>
