<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <title>Funky Definitions</title>
  </head>
  <body>
    <div class="containment">
      <h1 class="title_text">Funky Definitions</h1>
      <h3 class="subtitle_text">A fun a funky place of made up words</h3>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
