<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Funky Definitions</title>
  </head>
  <body>
    <h1 class="title_text">Funky Definitions</h1>
    <h3>A fun a funky place of made of words</h3>
    <hr>
    <%= yield %>
  </body>
</html>
