<h2 class="page_header">Create a new word!</h2>

<form action="/home" method="post">
  <label for="name_input">Word:</label>
  <input type="text" name="name_input">
  <br><br>
  <label for="definition_input">Definition  :</label>
  <input type="text" name="definition_input">
  <br><br>
  <button type="submit" name="button">Create word</button>
</form>
