<h2 class="page_header">New Definition for <%= @word.name %></h2>

<form action="/home/word/<%= @word.id %>" method="post">
  <label for="new_definition_input">Definition:</label>
  <input class="input_def" type="text" name="new_definition_input">
  <button type="submit" name="button">Add a Definition!</button>
</form>
<br>

<a href="/home/word/<%= @word.id %>">Back</a>
