<h2 class="page_header"><%= @word.name %></h2>

<h3>Definitions</h3>
<ol>
  <% @definitions.each do |definition| %>
  <li><%= definition.text %></li>
  <a href="<%= @word.id %>/edit/<%= definition.id %>">Edit</a>
  <% end %>
</ol>
